.App {
  max-width: 600px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
}

.result-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
}

pre {
  font-size: 14px;
}

.btn-custom {
  background-color: #154734;
  color: #fff;
  border: none;
}

.btn-custom:hover {
  background-color: #0e8b5b; 
  color: #fff;
  border:black
}

a {
  color: #C95100;
}

a:hover {
  color: #154734;
}
